import React from 'react'
import { connect } from 'react-redux'
import { compose } from 'redux'

// Imports of optional dependent components here.

const {{name}}Container = () => (
  <div></div>
)

const mapStateToProps = state => {}

const mapDispatchToProps = dispatch => {}

export default compose(
  connect(mapStateToProps, mapDispatchToProps)
)({{name}}Container)
